.game-card {
  align-items: center;
  display: flex;
  position: relative;
  height: 150px;
  width: 150px;
  justify-content: center;
  flex-direction: column;
  border: 5px inset;
  cursor: pointer;

  &__background {
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }

  &__status-banner {
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 15px;

    &--game-over {
      background: rgba(162, 0, 5, 0.8);
    }

    &--continue {
      background: rgba(0, 162, 36, 0.8);
    }
  }

  &__score {
    font-weight: bold;
  }

  &__date {
    font-weight: bold;
  }
}