.game-card-gallery {
  align-items: center;
  display: flex;
  justify-content: center;

  &__card {
    margin: 15px;
  }
}

@media (max-width: 640px) {
  .game-card-gallery {
    flex-direction: column;
  }
}