.app-header {
  background: rebeccapurple;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &__title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 35px;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 780px) {
  .app-header {
    flex-direction: column;

    &__actions {
      position: relative;
      right: auto;
    }
  }
}